---
import '../styles/global.css';
import Hero from '../components/Hero.astro';
import Navbar from '../components/Navbar.astro';
import TshirtShowcase from '../components/TshirtShowcase.astro';
import HowTo from '../components/HowTo.astro';
import Pricing from '../components/Pricing.astro';
import Footer from '../components/Footer.astro';
import ShoppingCart from '../components/ShoppingCart.astro';
---

<html lang="en" class="dark">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>刃と牙</title>
	</head>
	<body class="bg-bg text-fg transition-colors duration-500">
		<Navbar />
		<Hero />
		<TshirtShowcase />
		<HowTo />
		<Pricing />
		<Footer />
		<ShoppingCart />
	</body>
</html>
